POSTGRES_USER=avarias
POSTGRES_PASSWORD=avarias_secret
POSTGRES_DB=avarias

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=avarias-photos
MINIO_PUBLIC_URL=http://localhost:9000

JWT_SECRET=change_me_in_production_super_secret_key
CORS_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:8080
SEED_ADMIN_EMAIL=admin@altcorp.com
SEED_ADMIN_PASSWORD=admin123
VITE_API_URL=http://localhost:8000
